
@font-face {
    font-family: 'Cigatte';
    src: url('fonts/Cigatte.otf') format('opentype');
}
*{
    font-family: "Cigatte", sans-serif;
}
body{
    height:100vh;
    width:100%;
    background-image: url("images/stylish-european-brunette-woman-red-coat-black-hat-posing-white-wall.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    

}
nav{display: flex;
align-items: center;
justify-content: space-between;
padding-top: 40px;
padding-left: 10%;
padding-right: 10%;}

.logo{
    color: black;
    font-size: 35px;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color :#ea1538;
    transition: .3s;
}
button{
    border: none;
    background: #ea1538;
    padding: 12px 30px;
    border-radius: 30px;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: .4s;


}
button:hover{ transform: scale(1.3);
cursor: pointer; }

h1{
    font-size: 32em;
    top: -30;
}
